
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

#header{
    width:100%;
    font-size: 25px;
    margin-top: 0%;
    

}
body{
    background-image: url("background.jpg");
    background-size:cover;
}

#status{
    font-size: 20px;
    border-radius: 15px;
}
canvas{
    border-width: 15px;
    border-color: black;
border-style: ridge;
border-radius: 15px;
}